h1 {                                                                          
    font-size: 36px;                                                            
    margin-bottom: 20px;                                                        
  }  

table {                                                                       
    margin: 20px 0;                                                             
  }

button {                                                                      
    margin-top: 20px;                                                           
    padding: 10px 20px;                                                         
    font-size: 18px;                                                            
    cursor: pointer;                                                            
  }

p {                                                                  
    font-size: 20px;                                                            
    margin: 10px 0;                                                             
}

.winner {                                                                     
    font-size: 28px;                                                            
    font-weight: bold;                                                          
    margin: 20px 0;                                                             
    color: #000000;                                                             
  } 

td {                                                                          
    width: 80px;                                                                
    height: 80px;                                                               
    font-size: 48px;                                                            
    text-align: center;                                                         
    border: 2px solid black;                                                    
    cursor: pointer;                                                            
  } 